@model GiphyApi.Models.GiphyApiResponseId

@{
    ViewData["Title"] = "Details";
}

<h1>Details</h1>

<div>
    @*<h4>@Model.username</h4>*@
    <iframe src="@Model.data.embed_url" class="card-img-top" alt="..."></iframe>
    <hr />
    <dl class="row">
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.data.type)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.data.type)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.data.id)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.data.id)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.data.slug)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.data.slug)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.data.username)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.data.username)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.data.source)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.data.source)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.data.title)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.data.title)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.data.rating)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.data.rating)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.data.content_url)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.data.content_url)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.data.source_tld)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.data.source_tld)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.data.source_post_url)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.data.source_post_url)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.data.is_sticker)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.data.is_sticker)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.data.import_datetime)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.data.import_datetime)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.data.trending_datetime)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.data.trending_datetime)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.data.analytics_response_payload)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.data.analytics_response_payload)
        </dd>
    </dl>
</div>
<div>
    @Html.ActionLink("Edit", "Edit", new { /* id = Model.PrimaryKey */ }) |
    <a asp-action="Index">Back to List</a>
</div>
