
@{
    ViewData["Title"] = "Search";
}
@model Rootobject;
<h1>Search results by title : @ViewBag.Result</h1>
<h5 class="card-title">@Model.data.title</h5>
<div class="row">
    <iframe src="@Model.data.embed_url" class="card-img-top" alt="..."></iframe>
</div>
    @*<div class="row">
        @foreach (var item in Model.data)
               {
                   <div class="col-3 card">
                       <img src="@item.url" class="card-img-top" alt="...">
                       <div class="card-body">
                           <h5 class="card-title">@item.title</h5>
                           <p class="card-text">@item.rating.</p>
                           <a asp-controller="Home" asp-action="Details" asp-route-id="@item.source" class="btn btn-primary">Show Details</a>
                       </div>
                   </div>
               }
           </div>*@

